
<%= link_to "Pabeigtie pasūtījumi", admin_orders_path(get: "finished") %> 

<table style="width:100%">
  <tr>
    <td>Id</td>
    <td>Pasūtīts</td>
    <td>Produkti</td>    
    <td>Summa</td>
    <td>Pasūtījums pabeigts</td>
  </tr>
  <%- @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at.strftime("%d/%m/%Y - %I:%M") %></td>
      <td> 
        <%- order.products.each do |product| %>
          <%= product.name %>
          <br/>
        <% end %>
      </td>
      <td><%= price_in_euro(order.total_price) %></td>  
      <td>
        <%= link_to "Pabeigts", admin_order_path(order, set_to: "finished"), method: :put %>
      </td>
    </tr>
  <% end %>
</table>