<h1>Menu</h1>

<%= form_for @order do |f| %>
  <%- @categories.each do |category| %>
    <%= f.fields_for :product do |builder| %>
      <%- category.products.each do |product| %>
        <%= product.name %>:
        <%= builder.check_box :product, {}, product.id %>
        <br/>
      <% end %>
    <% end %>
    <br/>
  <% end %>
  <%= f.submit "Order" %>
<% end %>
